<div class="row">
  <div class="col-xs-12">
    <img
      [src]="selectedRecipe.imagePath"
      alt="{{ selectedRecipe.name }}"
      class="img-responsive"
      style="max-height: 250px" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Manage recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a
            class="dropdown-item"
            (click)="onAddToShoppingList()"
            style="cursor: pointer"
            >To shopping list</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="onEditRecipe()"
            style="cursor: pointer"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="onDeleteRecipe()"
            style="cursor: pointer"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ selectedRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of selectedRecipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
