<div class="row">
  <div class="col-xs-12">
    <h1>Animations</h1>
    <button class="btn btn-primary" (click)="onAnimate()">Animate</button>
    <button class="btn btn-primary" (click)="onShrink()">Shrink</button>
    <hr />
    <div
      [@divSquare]="state"
      (@divSquare.start)="animationStarted($event)"
      (@divSquare.done)="animationCompleted($event)"
      style="width: 100px; height: 100px"></div>
    <br />
    <div [@wildSquare]="wildState" style="width: 100px; height: 100px"></div>
  </div>
</div>
