<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <input type="text" [(ngModel)]="filteredStatus" />
    <button type="button" class="btn btn-primary" (click)="onAddServer()">
      Add server
    </button>
    <hr />
    <h4>App status: {{ appStatus | async }}</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let server of servers | filtered: filteredStatus:'status'"
        [ngClass]="getStatusClasses(server)">
        <span class="badge">
          {{ server.status }}
        </span>
        <!-- https://angular.io/api/common/DatePipe -->
        <!-- для подряд идущих pipe важен порядок, если поменять uppercase | date местами
        упадет ошибка потому что оператор date не понимает дату в верхнем регистре -->
        <strong>{{ server.name | shorten: 15:' $' }}</strong> |
        {{ server.instanceType | uppercase }} |
        {{ server.started | date: 'E, dd-MM-yyyy' | uppercase }}
      </li>
    </ul>
  </div>
</div>
